# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Flutter / Dart
# =========================
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Environment Variables
# =========================
.env
backend/.env

# =========================
# Database (Local Dev Only)
# =========================
*.db

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
